{
    ApplicationDescription = "My TextBox";
    ApplicationIcon = "TextBox.tiff";
    ApplicationName = TextBox;
    ApplicationRelease = "1.0.0";
    Authors = (
	"darkoverlordofdata"
    );
    Copyright = "Copyright (C) 2022 BSD 2 clause.";
    CopyrightDescription = "Released under BSD 2 clause";
    FullVersionID = "1.0.0";
    NSExecutable = TextBox;
    NSIcon = "TextBox.tiff";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    URL = "http://darkoverlordofdata.com/application/";
}